:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #ff0070;
  --base-color: #000028;
  --logo-color: #db00ff;
  --text-color: #F1B2CE;
  --headline-color: var(--accent-color);
  --decorated-color: var(--accent-color);
  --button-color: var(--accent-color);

  .rec {
    visibility: visible;
  }
}