:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --accent-color: #FF8DCB;
  --base-color: #353430;
  --logo-color: #FFC2E6;
  --headline-color: var(--base-color);
  --text-color: var(--base-color);
  --decorated-color: var(--base-color);
  --button-color: var(--base-color);
  
  .rec {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-image: url('../images/cover-image-light.png');
      --bg-color: #fff1f7;
      --accent-color: #FF8DCB;
      --base-color: #353430;
      --logo-color: #FFC2E6;
      --headline-color: var(--base-color);
      --text-color: var(--base-color);
      --decorated-color: var(--base-color);
      --button-color: var(--base-color);

    .rec {
    visibility: hidden;
    }
  }
}